// Theme Specific CSS
.layout-px-spacing {
    min-height: calc(100vh - 166px)!important;
}

.list-group-item {
    background-color: transparent;
    border-top: 1px solid #ddd;
    border-radius: 0;
    color: #fff;
}

.dino-icon-card {
    width: 50%;
    height: 50%;
    margin: 1rem auto;
}
.dino-index-image {
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

// ------- //
// Sidebar //
// ------- //

// Icon Menu Title
.sidebar-wrapper nav#sidebar ul.list-unstyled li.menu i {
    font-size: 16px;
    margin-top: 6px;
    margin-right: 6px;
}

// Get rid of List Style in the sub menu links
#sidebar ul.menu-categories li.menu ul.submenu > li a:before {
    content: none;
}

// Redo the submenu spacing
#sidebar ul.menu-categories ul.submenu > li a {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    height: 30px;
    padding: 5px;
    padding-left: 14px;
    font-size: 13px;
    color: #888ea8;
}
// Change the margin for the submenu icons
#sidebar ul.menu-categories li.menu:first-child ul.submenu > li a i {
    margin-right: 5px;
}

// Navbar //
.header-container header.navbar ul.navbar-item .dropdown-item i {
    font-size: 16px;
    margin-top: 6px;
    margin-right: 12px;
}

// Tables //
.table-hover tbody tr:hover {
    color: #b7bbca;
}

// Buttons //
.btn-success {
    color: #000 !important;
}
.btn-success:hover {
    color: #000 !important;
}

// Sections Background //
.section {
    background-color: #0e1726;
    border-radius: 6px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px 10px;
}

// Trade Hub //
.trade-item-summary {
    background-color: #0e1726;
    border-radius: 6px;
    padding: 15px 10px;
}

// User Profile Card //
.social-icon {
    margin: 0;
    padding: 0;
}
.user-profile-card-social {
    font-size: 12pt !important;
    color: #ffffff !important;
    padding: 5px;
    margin-top: 0px;
}
.user-profile-card-social:hover {
    text-underline: none !important;
    color: #ffffff !important;
}

