/* Navbar Discord Login Button*/
.navbar .btn-discord {
    background-color: #7289da;
    color: #ffffff;
    padding: 5px 10px !important;
    margin: 15px 5px !important;
}
.navbar .btn-discord:hover {
    background-color: #3F56A7;
    color: #cccccc;
    padding: 5px 10px !important;
    margin: 15px 5px !important;
}

/* Navbar User Avatar */
.navbar-avatar {
    width: 24px;
    height: 24px;
}
